#### Elixir Project

# App artifacts
fortunebot-elixir/_build
fortunebot-elixir/db
fortunebot-elixir/deps
fortunebot-elixir/*.ez

# Generated on crash by the VM
fortunebot-elixir/erl_crash.dump

# Generated on crash by NPM
fortunebot-elixir/npm-debug.log

# Static artifacts
fortunebot-elixir/assets/node_modules

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
fortunebot-elixir/priv/static/

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
fortunebot-elixir/config/*.secret.exs

#### Java Project

fortunebot-java/.gradle
fortunebot-java/build/
fortunebot-java/!gradle/wrapper/gradle-wrapper.jar

### STS ###
fortunebot-java/.apt_generated
fortunebot-java/.classpath
fortunebot-java/.factorypath
fortunebot-java/.project
fortunebot-java/.settings
fortunebot-java/.springBeans

### IntelliJ IDEA ###
fortunebot-java/.idea
fortunebot-java/*.iws
fortunebot-java/*.iml
fortunebot-java/*.ipr

### NetBeans ###
fortunebot-java/nbproject/private/
fortunebot-java/build/
fortunebot-java/nbbuild/
fortunebot-java/dist/
fortunebot-java/nbdist/
fortunebot-java/.nb-gradle/


#### Node Project

# Logs
fortunebot-node/logs
fortunebot-node/*.log
fortunebot-node/npm-debug.log*
fortunebot-node/yarn-debug.log*
fortunebot-node/yarn-error.log*

# Runtime data
fortunebot-node/pids
fortunebot-node/*.pid
fortunebot-node/*.seed
fortunebot-node/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
fortunebot-node/lib-cov

# Coverage directory used by tools like istanbul
fortunebot-node/coverage

# nyc test coverage
fortunebot-node/.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
fortunebot-node/.grunt

# Bower dependency directory (https://bower.io/)
fortunebot-node/bower_components

# node-waf configuration
fortunebot-node/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
fortunebot-node/build/Release

# Dependency directories
fortunebot-node/node_modules/
fortunebot-node/jspm_packages/

# Typescript v1 declaration files
fortunebot-node/typings/

# Optional npm cache directory
fortunebot-node/.npm

# Optional eslint cache
fortunebot-node/.eslintcache

# Optional REPL history
fortunebot-node/.node_repl_history

# Output of 'npm pack'
fortunebot-node/*.tgz

# Yarn Integrity file
fortunebot-node/.yarn-integrity

# dotenv environment variables file
fortunebot-node/.env
